.intro__text {
  margin-right: auto;
  padding: 0;
  max-width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 33px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    margin-bottom: 34px;
  }
}
