.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 48px * 2);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: calc(100% - 16px * 2);
  }
}
