.footer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 48px * 2);
  min-height: 18px;
}

@media screen and (max-width: 800px) {
  .footer {
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 655px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: calc(100% - 16px * 2);
  }
}
