.place__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}

@media (max-width: 320px) {
  .place__link {
    line-height: 22px;
  }
}
