.header__lange-link {
  text-decoration: none;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  max-width: 30px;
  max-height: 28px;
  margin-top: 18px;
  margin-bottom: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header__lange-link:active {
  border-bottom: 2px solid #ffffff;
}

.header__lange-link:hover {
  border-bottom: 2px solid #ffffff;
}

.header__lange-link:last-child {
  margin-left: 18px;
}

@media screen and (max-width: 330px) {
  .header__lange-link {
    margin-top: 14px;
    font-size: 18px;
    line-height: 20px;
    max-height: 22px;
    max-width: 22px;
  }
}
