.header__lange-link {
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  max-width: 30px;
  max-height: 28px;
  margin-top: auto;
  margin-bottom: auto;
}

.header__lange-link:last-child {
  margin-left: 18px;
}

@media screen and (max-width: 330px) {
  .header__lange-link {
    font-size: 18px;
    line-height: 20px;
    max-height: 22px;
    max-width: 22px;
  }
}
