.page__intro{
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px){
    .page__intro{
        margin-left: 24px;
    }
}

@media (max-width: 320px){
    .page__intro{
        margin-left: 16px;
    }
}