.footer__link {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: fit-content;
  text-decoration: none;
  margin-right: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: opacity 0.3s linear;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 655px) {
  .footer__link {
    margin: 0 0 32px 0;
  }

  .footer__link:last-of-type {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
