.page__lead {
  margin-top: 56px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .page__lead {
    margin-top: 48px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 900px) {
  .page__lead {
    margin-left: auto;
    margin-right: auto;
  }
}
