.lead__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 32px auto 64px auto;
  max-width: 640px;
  max-height: 72px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 56px auto;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    margin: 40px auto 16px auto;
    max-width: 288px;
    max-height: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}
