.place__paragraph {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  max-width: 100%;
  font-family: Inter, Arial, Helvetica, sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }
}
